
    {{>header}}
    <div class="container">
        <nav class="breadcrumb rounded bg-light">
            <header>
                <h1>{{title}}</h1>
            </header>
            <p>
                <i>The weather app, one of the best weather application on web, one of the best choose fore you. <br>
                Weather forecast, which has accurate weather information for anytime and everywhere.</i>
            </p>
        </nav>
        <img class="portrait" src="./img/robot.png">
    </div>
    {{>footer}}
</body>
</html>